*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgb(232, 232, 162);
    font-family: Arial;
    font-size: large;
    text-align: center;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.heading img{
 width: 40%;
 border-radius: 30%;
 padding-bottom: 30px;
}
.nav a{
   display: flex;
   padding: 40px;
   text-decoration: none;
}
.sources{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.sources p{
    width: 80%;
    margin: 0 auto;
}
.sources img{
    width: 60%;
    border-radius: 30px;
}
.info h1,.info h3,.info p{
padding: 12px;
margin: 10px;
font-size: larger;
}
.info button{
    padding: 8px;
    margin: 8px;
    border-radius: 40px;
    background: yellowgreen;
    cursor: pointer;
}
h1{
    margin: 15px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
footer a{
     text-decoration:none ;
}
.vid{
    margin: 40px;
}
.vid video{
    width: 100%;
    border-radius: 40px;
}
.vision{
    border-radius: 30px;
}
.vision p,.vision h3{
    width: 70%;
    height: 130px;
    font-size: larger;
    padding: 10px;
margin:0 auto;
background: yellowgreen;
border-radius: 30px;
  margin-bottom: 35px;
}
form{
    width: 80%;
    margin: 0 auto;
     background:rgb(218, 213, 213);
     
}
form input{
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid gray;
}
.contact{
    width:80%;
     background:rgb(218, 213, 213);
      margin: 0 auto;
}
   form button{
    padding: 8px;
    margin: 8px;
    border-radius: 40px;
    background: yellowgreen;
    cursor: pointer;
   }
   textarea{
    width: 100%;
    margin: 25px;
    padding: 12px;
    border-radius: 25px;
   }
   .rights{
    margin: 40px;
   }



  
